body {
  height: 100vh;
  background-color: #121212;
  background-repeat: no-repeat;
  color: #bb86fc;
}
.heading {
  margin-bottom: 30px;
}
.raw {
  color: #d32c2c !important ;
  margin-bottom: 10px;
  background-color: #bb86fc;

  border: none;
}
.raw a {
  color: #121212;
  text-decoration: none;
}
.header {
  color: #c9fc87 !important;
  line-height: 1.5 !important;
}

.images {
  height: 26px;
  width: 35px;
}
.headers {
  font-family: operator mono;
  font-weight: bold;
  color: #c9fc87 !important;
  line-height: 1.5;
}

.bodyText {
  letter-spacing: 1px !important;
  line-height: 1.8;
  text-align: justify;
}

.bodyAuthor {
  float: right;
  display: block;
  margin-top: 30px;
  font-size: 21px;
}

.bodyHead {
  display: inline-block;
  margin-bottom: 20px;
}

.error {
  margin-top: 25vh !important;
}
