body {
  height: 100vh;
  background-color: #121212;
  background-repeat: no-repeat;
  color: #bb86fc;
}
.heading {
  margin-bottom: 30px;
}
.raw {
  color: #d32c2c !important ;
  margin-bottom: 10px;
  background-color: #bb86fc;

  border: none;
}
.raw a {
  color: #121212;
  text-decoration: none;
}
.header {
  color: #bb86fc;
}
